# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Automatically downloaded binaries in VideoDowloader
VideoDowloader/backend/bin/

# Windows system files
Thumbs.db
desktop.ini

# Logs
logs
*.log

# Downloaded media files (temp and tests)
VideoDowloader/backend/*.mp4
VideoDowloader/backend/*.mp3
VideoDowloader/backend/*.gif
VideoDowloader/backend/*.webm
VideoDowloader/backend/temp_*
